# General
.DS_Store
Thumbs.db
*.log
*.tmp
*.swp

# IDE
.vscode/
.idea/

# Flutter / Dart
.dart_tool/
.packages
.pub/
build/

# Generated plugin files
.flutter-plugins
.flutter-plugins-dependencies

# Android
android/.gradle/
android/local.properties
**/android/**/GeneratedPluginRegistrant.java

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/

# macOS / Linux / Windows desktop build outputs
linux/flutter/ephemeral/
macos/Flutter/ephemeral/
windows/flutter/ephemeral/
